/* #logo{
    margin-top: 20px;
    width:100px;
}
.col-sm-10{
    margin-top: 40px;
}
h4{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#product1{
    margin-top: 40px;
    height:50%;
    width:80%;
} */
body{
    height:100vh;
}
#img{
    height:400px;
    width:100%;
   
}