
<div class="container" *ngFor="let product of productdetails;index as i">
    <div *ngIf="searchData==null || product.title.toLowerCase().includes(searchData.toLowerCase())">
    <div class ="row">
        <div class = "col-md-4 well" id = "image">
            <div><img src="assets/img/{{product.image}}" id="imgs" class="img-responsive"></div>
        </div>   
        <div class = "col-md-8">
                <div class="col-md-9">
                    <div  class="row ">
                        <div class="col-md-12 well">
                          <h4>{{product.title}}</h4>
                        </div>
                    </div>
                    <div  class="row">
                        <div class="col-md-12 well">
                            <h6>{{product.description}}</h6>
                        </div>
                    </div>
                    <div  class="row">
                      <button type="button" class="btn btn-primary" [id]="i" routerLink="/product/{{i}}">View Product Details</button><br>    
                  </div>
                </div>   
            </div>  
        </div>
        <hr> 
    </div>
  </div>
  <!-- <div *ngIf="notavailableflag">  
        <h2>The product you searched is currently unavailable.</h2>
</div> -->
