.Learning {
		border: 25px solid lightblue;
		margin-top: 0px;
  		padding: 25px;
	}
.arrow {
	text-align: right;
	height:40px;
	display: flex;
}
.right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid blue; 
	}
.left {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid white; 
	}